---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.jsx";
---

<Layout title="Photographs - Home">
  <main class="p-8 max-w-5xl mx-auto">
    <h1 class="text-4xl font-bold mb-4">Photographs</h1>
    <p class="text-lg text-gray-600 mb-6">
      Welcome to my photography portfolio.
    </p>
    <Button>Click Me</Button>
  </main>
</Layout>
